<ion-header>
  <ion-toolbar>
    <ion-title>Magic 8 Ball</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isWelcomeUser">
    <ion-item>
      <ion-label position="stacked">What is your name?</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="username"
        (keydown)="goToNextPage($event)"
      ></ion-input>
    </ion-item>
  </ng-container>

    <ng-container *ngIf="isWelcomeUser">
      <ion-item>
        <ion-label position="stacked"
          >Welcome {{username}}, do you have asking to ask me?</ion-label
        >
        <ion-input
          type="text"
          [(ngModel)]="userQuestion"
          (keydown)="generateRandomQuestion($event)"
        ></ion-input>
      </ion-item>
      <div class="container">
        <div class="ball">
          <div
            [ngClass]="(clickBall === true) ? 'window-container' : 'eight-container'"
          >
            <div class="wrapper">
              <div class="eight-number" [hidden]="clickBall === true">8</div>
              <div class="window" [hidden]="clickBall === false"></div>

              <div
                [ngClass]="(clickBall === true) ? 'answer show-triangle up' : 'answer'"
              >
                {{eightBall}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

</ion-content>
